config/
.libs/
aclocal.m4
autom4te.cache/

debian/autoreconf.after
debian/autoreconf.before
debian/libtacplus-map-dev.debhelper.log
debian/libtacplus-map1.debhelper.log

INSTALL
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
libtacplus_map.la
libtacplus_map_la-map_tacplus_user.lo
libtool
stamp-h1

confdefs.h
conftest.c
conftest.err
conftest.o

